[Unit]
Description=Systemd state report generation
After=network-online.target multi-user.target
ConditionPathExists=!/tmp/nas-permissions-service.lock

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'touch /tmp/status-report-service.lock'
ExecStart=/bin/sh -c "exec $PROJECT_PATH/systemd/status-report.sh"
ExecStopPost=/bin/sh -c 'rm /tmp/status-report-service.lock'
