[Unit]
Description=Periodic HTML status report generation
After=network-online.target

[Timer]
Unit=status-report-html.service
OnBootSec=1m
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
