[Unit]
Description=Periodic HTML status report generation
After=network-online.target

; The HTML report generation is fast (well under 1s) so this can run relatively frequently
[Timer]
Unit=status-report-html.service
OnBootSec=10s
OnUnitActiveSec=10s

[Install]
WantedBy=timers.target
